body, html {
    font-family: GreycliffCF-Regular;
    line-height: 1.6;
    margin: 0;
    box-sizing: border-box;
    color: #202020;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto !important;
}

.ant-layout-sider {
    background: #001529;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: hsla(0,0%,100%,.65);
    background: #001529;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
    color: hsla(0,0%,100%,.65);
}

.ant-menu-dark .ant-menu-item:hover > a, .ant-menu-dark .ant-menu-item-active > a, .ant-menu-dark .ant-menu-submenu-active > a, .ant-menu-dark .ant-menu-submenu-open > a, .ant-menu-dark .ant-menu-submenu-selected > a, .ant-menu-dark .ant-menu-submenu-title:hover > a {
    color: #fff;
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover {
    color: #fff;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    border-left: 5px solid #1664af;
}

.ant-menu-item.ant-menu-item {
  padding-left: 30px !important;
}

.ant-table-thead > tr > th {
    background-color: #eee;
}

.ant-table .ant-table-body > table {
    border: 1px solid #eee;
}

.ant-table .ant-table-body > table tr:nth-child(even) {
    background: #9ddcf130;
}

.ant-table .ant-table-body > table table tr {
    background-color: transparent !important;
}

.ant-table-pagination.ant-pagination {
    margin: 20px 0 !important;
}

.ant-pagination-options-quick-jumper > input {
    margin-right: 0;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 7px 7px;
    border-right: 1px solid #eee;
}

.customTable td:first-child {
    width: 30%;
}

.customTable td:nth-child(2) {
    width: 70%;
}

.font-bold {
    font-family: GreycliffCF-Bold !important;
}

th.text-center, td.text-center {
    text-align: center !important;
}

.ant-input {
    height: 40px;
}

.ant-calendar-picker {
    width: 100%;
}

.link {
    text-decoration: underline;
    color: #1664af;
    cursor: pointer;
    font-family: GreyCliffCF-Bold !important;
}

input::-webkit-input-placeholder {
    font-family: GreycliffCF-Medium;
    color: #bfbfbf;
}

input::-moz-placeholder {
    font-family: GreycliffCF-Medium;
    color: #bfbfbf;
}

input:-ms-input-placeholder {
    font-family: GreycliffCF-Medium;
    color: #bfbfbf;
}

input:-moz-placeholder {
    font-family: GreycliffCF-Medium;
    color: #bfbfbf;
}

#toast-container {
    left: calc(100% - 312px) !important;
}

.ant-select-selection__rendered {
    line-height: 40px;
}

.ant-select-selection--single {
    height: 40px;
}

#nprogress .bar {
    background: #1890ff !important;
}

@media only screen and (max-width: 1024px) {
    .ant-layout-header {
        min-width: 1024px;
        position: relative !important;
    }
    .ant-layout-content {
        margin-top: 25px !important;
    }
}

.ant-time-picker-input {
    height:40px;
}
.ant-time-picker {
    width: 100%
}
.font-strong {
	font-weight: bold;
}
.rbt-token.rbt-token-removeable {
	display: inline-block;
}

button.close.rbt-close.rbt-token-remove-button {
	border: 0;
	font-size: 20px;
}

button.close.rbt-close.rbt-token-remove-button > .sr-only {
	display: none;
}

.shiiping-line-suggestion .rbt-input-hint-container {
	display: inline-block !important;
}

span.ant-calendar-picker-input.ant-input {
	height: 40px ;
}

.tableLabel, th > span {
	font-family: GreycliffCF-Bold;
}

* {
	font-family: GreycliffCF-Regular;
}

td.ant-table-row-expand-icon-cell {
	font-size: 25px;
	padding: 0 !important;
}

td.ant-table-row-expand-icon-cell span {
	width: 25px;
	height: 25px;
	line-height: 20px;
}

.ant-input {
	height: 40px;
}

.ant-select-selection__rendered {
	line-height: 40px;
}

.ant-select-selection {
	height: 40px !important;
}
